# Created by https://www.toptal.com/developers/gitignore/api/SwiftPackageManager,macos
# Edit at https://www.toptal.com/developers/gitignore?templates=SwiftPackageManager,macos

### macOS ###
# General
.DS_Store

### SwiftPackageManager ###
Packages
.build/
xcuserdata
DerivedData/
*.xcodeproj
.swiftpm

# End of https://www.toptal.com/developers/gitignore/api/SwiftPackageManager,macos
