# Created by https://www.gitignore.io/api/SwiftPackageManager
# Edit at https://www.gitignore.io/?templates=SwiftPackageManager

### SwiftPackageManager ###
Packages
.build/
xcuserdata
DerivedData/
*.xcodeproj
.swiftpm

# End of https://www.gitignore.io/api/SwiftPackageManager
